/* Enable smooth scrolling behavior for the entire page */
html {
    scroll-behavior: smooth;
    /* Define CSS custom properties (variables) */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Set the default foreground color for body and anchor elements using variables */
body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

/* Hide elements with the visually-hidden class */
.visually-hidden {
    display: none;
}

/* Set the foreground color for card-category and section-tagline classes using variables */
.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}
